dist: focal
language: python
cache: pip

matrix:
    include:
        - python: 3.6
          env: TOXENV=py36
        - python: 3.7
          env: TOXENV=py37
        - python: 3.8
          env: TOXENV=py38
        - python: 3.9
          env: TOXENV=py39
        - python: 3.8
          env: TOXENV=qa,doc
    allow_failures:
        - python: "3.9"

addons:
    apt:
        packages:
            - graphviz
            - libsdl-dev
            - python3-dev
            - python3-numpy
            - libsdl-image1.2-dev
            - libsdl-mixer1.2-dev
            - libsdl-ttf2.0-dev
            - libsmpeg-dev
            - libportmidi-dev
            - libavformat-dev
            - libswscale-dev
            - libjpeg-dev
            - libfreetype6-dev

install:
  - pip uninstall virtualenv -y
  - pip install --upgrade --ignore-installed setuptools pip tox coveralls
script: tox -vv
after_success: if [ "$TOXENV" == "py38" ]; then coveralls; fi
